html,
body {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  font-family: Poppins;
  scroll-behavior: smooth !important;
}
@font-face {
  font-family: Poppins;
  src: url("../plugins/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Biko-Black;
  src: url("../plugins/fonts/Biko_Black.otf");
}
.btn-full {
  position: relative;
  border: none;
  background: #29d197;
  height: 60px;
  width: 227px;
  font-family: Poppins;
  font-size: 13px;
  text-align: center;
  font-weight: 900;
  color: white;
  border-radius: 30px;
}
.btn-line {
  border-color: #29d196;
  position: relative;
  background: none;
  border-style: solid;
  height: 60px;
  width: 227px;
  font-family: Poppins;
  font-size: 13px;
  text-align: center;
  font-weight: 900;
  color: white;
  border-radius: 30px;
}
.green {
  color: #29d196;
}
.wrapper {
  position: relative;
}
.btn-blue {
  width: 198px;
  height: 62px;
  margin-top: 20px;
  background-color: #1a265c;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 820px;
  background-image: url("../assests/banner.png"),
    url("../assests/banner_layout.png");
  background-blend-mode: multiply;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: scroll;
}
.header-content {
  padding-top: 5%;
  width: 100%;
  position: absolute;
}
.header-content-text,
.btn-header-content {
  padding: 0 20%;
}
.header-content-text p {
  font-family: Poppins;
  text-align: right;
  color: white;
  font-size: 48px;
  font-weight: 900;
  line-height: 0.2;
}
.header-content-text span {
  color: #29d197;
  font-weight: 300;
}
.btn-header-content {
  text-align: right;
  padding-top: 20px;
  position: relative;
  margin-left: 10px;
}
.header-top {
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 40px 10%;
}
.header-top-left {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}
.header-top-left-list {
  transform: translateX(-8px);
  margin: 0;
  padding: 0;
}
.header-top-left-list li {
  padding: 8px 10px;
  list-style-type: none;
  display: inline;
  color: white;
  font-family: Poppins;
  font-size: 12px;
}
.header-top-left-list li > i {
  color: #29d197;
  font-size: 12px !important;
}
.header-top-right {
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  vertical-align: middle;
}
.header-top-right-item {
  position: relative;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: rgb(251, 251, 251, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
}
.header-top-right-item i {
  font-size: 13px;
  color: #dddddd;
}
.header-top-right-text {
  float: left;
  font-family: Poppins;
  font-size: 12px;
  color: #29d197;
  padding-right: 21px;
}
.header-menu {
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 10%;
}
.header-menu-logo {
  display: flex;
  align-items: center;
  color: white;
  font-family: Biko-Black;
  font-weight: 900;
  font-size: 40px;
}
.header-menu-content {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  position: relative;
}
.header-menu-content label {
  display: inline-block;
  text-indent: -1000000px;
  background-image: url("./assests/icon/menu.png");
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  width: 60px;
  height: 60px;
  display: none;
  background-size: cover;
  cursor: pointer;
}
.header-menu-content input[type="checkbox"] {
  display: none;
}
.header-menu-list-content li {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0 20px;
  display: inline;
  color: white;
  font-family: Poppins;
  font-size: 15px;
  text-align: center;
  font-weight: 900;
}
.btn-header-menu {
  display: flex;
  align-items: center;
}
.btn-header-menu-login {
  text-align: center;
}
.content {
  width: 100%;
  height: auto;
  position: relative;
}
.content-activities {
  width: 100%;
  height: auto;
  transform: translateY(-120px);
  /* position: absolute; */
}
.content-activities-list {
  height: 300px;
  max-width: 1250px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.content-activities-list-item {
  background-color: white;
  height: 240px;
  width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
.content-activities-list-action {
  border: none;
  background-color: #d44ba2 !important;
  height: 240px;
  width: 250px;
  margin-top: 30px !important;
}
.content-activities-list-item span {
  font-family: Poppins;
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: 500;
}
.content-activities-list-action span {
  font-family: Poppins;
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: 500;
}
.content-activities-list-item::after {
  content: "";
  margin-top: 240px;
  width: 250px;
  height: 7px;
  position: absolute;
}
.content-activities-list-item::before {
  content: "";
  position: absolute;
  margin-top: 240px;
  width: 41px;
  height: 41px;
  z-index: -1;
  border-radius: 50%;
}
.content-activities-list-item:nth-child(1)::after,
.content-activities-list-item:nth-child(1)::before {
  background-color: #09c1cf;
}
.content-activities-list-item:nth-child(2)::after,
.content-activities-list-item:nth-child(2)::before {
  background-color: #f04255;
}
.content-activities-list-item:nth-child(3)::after,
.content-activities-list-item:nth-child(3)::before {
  background-color: #d44ba2;
}
.content-activities-list-item:nth-child(4)::after,
.content-activities-list-item:nth-child(4)::before {
  background-color: #41be84;
}
.content-activities-list-item:nth-child(5)::after,
.content-activities-list-item:nth-child(5)::before {
  background-color: #eab830;
}
.content-studies {
  width: 100%;
  background-image: url("../assests/activities/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  font-family: Poppins;
  background-position: -55%;
  text-align: center;
  height: 800px;
}
.content-studies-heading-title {
  font-size: 45px;
  font-weight: 400;
}
.content-studies-heading-left {
  font-size: 20px;
  font-weight: 300;
  color: #666666;
}
.content-studies-list {
  margin-top: 45px;
  padding: 0 10%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}
.content-studies-item {
  color: #343434;
  height: 150px;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  font-family: Poppins;
  text-align: center;
}
.content-studies-item-text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.content-studies-item-text span {
  position: relative;
  margin-top: 20px;
}
.content-studies-item-text span:nth-child(1) {
  padding: 0 20px;
  font-size: 22px;
}
.content-studies-item-text span:nth-child(2) {
  font-size: 16px;
}
.content-studies-item-text br {
  line-height: 40px;
}
.content-studies-item-icon {
  text-align: center;
  position: relative;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-studies-item-i::before {
  content: "";
  position: absolute;
  margin-top: 160px;
  width: 21px;
  height: 21px;
  background-color: #f7ca18;
  border-radius: 50%;
  z-index: -1;
}
.content-studies-item-icon img {
  width: 70px;
  height: 70px;
}
.content-studies-right {
  text-align: left;
}
.content-studies-left {
  text-align: right;
}
.content-forum {
  width: 100%;
  height: 600px;
  color: white;
  font-family: Poppins;
  background-image: url("../assests/banner01-2.png"),
    url("../assests/banner01-1.png");
  background-blend-mode: multiply;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.content-forum-bg {
  width: 100%;
}
.content-forum-bg img {
  width: 100%;
  height: auto;
  margin: 0;
  position: absolute;
}
.content-forum-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
}
.content-forum-left {
  box-sizing: border-box;
  width: auto;
  height: auto;
  transform: translateY(-20%);
  position: relative;
}
.content-forum-left-sub {
  line-height: 1;
  font-size: 20px;
  font-weight: 200;
}
.content-forum-left-title {
  line-height: 0.3;
  font-size: 45px;
  font-weight: 500;
}
.content-forum-right {
  margin-top: 50px;
  box-sizing: border-box;
  position: relative;
  height: 466px;
  width: 470px;
}
.content-forum-right-form {
  box-shadow: 0 3.5px 6px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 417px;
  width: 470px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding-top: 60px;
  text-align: center;
}
.content-forum-right-form input {
  width: 370px;
  height: 56px;
  background-color: #fafafa;
  border-radius: 30px;
  margin-top: 11px;
  border: none;
  padding-left: 10%;
  font-size: 13px;
}
.content-forum-right-time {
  align-items: center;
  width: 384px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  transform: translateY(-48px);
}
.content-forum-right-time div {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: none;
  background-color: #29d197;
  font-size: 14px;
  line-height: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
}
.content-forum-right-time div span {
  font-weight: 700;
  font-size: 25px;
}
.content-courses {
  width: 100%;
  text-align: center;
}
.content-courses-header {
  font-family: Poppins;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.content-courses-header-title {
  font-size: 45px;
  font-weight: 700;
}
.content-courses-header-sub {
  font-size: 20px;
  font-weight: 400;
}
.content-courses-header-left {
  font-size: 16px;
  font-weight: 400;
  color: #888888;
}
.content-courses-header-line {
  margin: 50px 0;
  justify-content: center;
  display: flex;
  align-items: center;
}
.content-courses-header-line-left,
.content-courses-header-line-right {
  margin: 0 1px;
  display: flex;
  align-items: center;
  border: none;
  border-top: #e3e3e3 1.5px dashed;
  height: 1px;
  width: 74px;
}
.content-courses-header-line-left {
  justify-content: right;
}
.content-courses-header-line-right {
  justify-content: left;
}
.content-courses-header-line-left::before,
.content-courses-header-line-right::before {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #e3e3e3;
  position: absolute;
}
.content-courses-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-courses-menu-list li {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0 10px;
  display: inline;
  color: black;
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  padding: 10px 30px;
  margin: 0 15px;
}
.content-courses-menu-list-main {
  border: #343434 solid 2px;
  border-radius: 30px;
}
.content-courses-menu-list li:hover {
  background-color: #29d197;
  border-radius: 30px;
  border: none;
  color: white;
}
.content-courses-list {
  font-family: Poppins;
  margin: 0px auto;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
}
.content-courses-column {
  width: 60%;
  margin-left: 15px;
}
.courses-item {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  margin: 70px 10px;
  border-radius: 5px;
  background-color: white;
  position: relative;
}
.content-courses-top {
  height: 529px;
  width: 370px;
}
.content-courses-bottom {
  height: 469px;
  width: 370px;
}
.courses-item-header {
  border-radius: 5px 5px 0 0;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.content-courses-top > .courses-item-header {
  height: 330px;
  width: 370px;
}
.content-courses-bottom > .courses-item-header {
  height: 270px;
  width: 370px;
}
.courses-item-envaluate {
  transform: translateY(-29px);
  display: flex;
  align-items: center;
  height: 58px;
  width: 317px;
  border-radius: 30px;
  background-color: white;
  margin-left: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.courses-item-envaluate > div {
  margin: 0 auto;
  align-items: center;
}
.courses-item-envaluate-price::after {
  margin-left: 20px;
  top: 0;
  content: "";
  height: 58px;
  width: 1px;
  background-color: #ebebeb;
  position: absolute;
}
.courses-item-envaluate-viewer::after {
  margin-left: 20px;
  top: 0;
  content: "";
  height: 58px;
  width: 1px;
  background-color: #ebebeb;
  position: absolute;
}
.courses-item-container {
  transform: translateY(-25px);
  width: 100%;
  text-align: left;
  margin-left: 10%;
  font-size: 20px;
  font-weight: 700;
}
.courses-item-rate {
  color: #f7ca18;
}
.courses-item-detail {
  float: left;
  margin-left: 10%;
}
.courses-item-detail button {
  transform: translateY(-10px);
  height: 37px;
  width: 46px;
  background-color: white;
  border-radius: 5px;
  border: #f0f0f0 2px solid;
  color: #707070;
}
.courses-item-detail button:hover {
  font-size: 14px;
  font-weight: 500;
  color: white;
  height: 48px;
  width: 184px;
  padding: auto;
  border-radius: 30px;
  background-color: #29d197;
  transform: translateY(-15px);
}
.courses-item-detail button:hover::after {
  content: "  More Details";
}

.casses-end * {
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#casses {
  height: 900px;
  position: relative;
  padding-top: 70px;
}
#casses-head {
  margin: 10px auto;
  max-width: 1600px;
  height: 727px;
  justify-content: center;
  display: flex;

  background-image: url("./assests/Layer\ 6.png");
  background-repeat: no-repeat;
  background-position: 800px -40px;
  background-size: auto;
}
#casses-head > * {
  width: 400px;
}
#subscribe-head {
  display: flex;
}
#subscribe-icon {
  margin-right: 50px;
  width: 74px;
  height: 50px;
  background-image: url("./assests/shape/shape 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#subscribe-description {
  margin-bottom: 30px;
}
#subscribe-description h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
#subscribe-foot-input-container {
  width: 70%;
  margin: 10px auto;
}
#subscribe-foot-input {
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid white;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 6%), 0 0px 10px 0 rgb(0 0 0 / 8%);
}
#subscribe-foot button {
  margin: 20px auto;
  height: 55px;
  width: 230px;
  background-color: #29d197;
  color: white;
  border: 1px solid white;
  border-radius: 45px;
  display: block;
}
#testimonials {
  display: flex;
  position: relative;
  padding-left: 70px;
  margin-left: 140px;
}
#testimonials-image {
  position: absolute;
  left: -120px;
  width: 160px;
  height: 192px;
  background-image: url("./assests/image_2022_6_17.png");
  background-repeat: no-repeat;
  background-position: -51px -58px;
  background-size: auto;
}
#testimonials-name {
  position: relative;
  padding-left: 20px;
}
#testimonials-content {
  padding-right: 100px;
}

#testimonials-content h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
#testimonials-name {
  margin-top: 30px;
}
#testimonials-name h3 {
  color: #3fd4a0;
}

#testimonials-name::before {
  content: " ";
  height: 60px;
  width: 3px;
  background-color: #3fd4a0;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 5px;
}

#casses-footer-cover {
  position: absolute;
  width: 1041px;
  height: 400px;
  background-color: #171d3b;
  opacity: 0.8;
  left: 121px;
  top: 81px;
}
#casses-footer {
  left: 49%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1170px;
  height: 480px;
  background-image: url("./assests/Layer\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 20px;
  /* right: 250px; */
  position: absolute;
}
#casses-footer-icon {
  width: 90px;
  height: 110px;
  position: absolute;
  background-image: url("./assests/shape/shape\ 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 590px;
  top: 200px;
}
#casses-footer-content {
  text-align: center;
  position: absolute;
  color: white;
  left: 440px;
  top: 320px;
  font-size: 31px;
  width: 400px;
}
.part-header h2 {
  text-align: center;
}
.part-header-content {
  text-align: center;
  margin-bottom: 40px;
}
.part-header-seprator {
  text-align: center;
}
.part-header-seprator > span {
  background-image: url("./assests/seprator/Seprator\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: unset;
  text-indent: -100px;
}
#some-blog {
  display: flex;
  justify-content: space-between;
  width: 1135px;
  margin: 0 auto;
  margin-top: 40px;
}
.blog {
  position: relative;
  width: 370px;
}
.blog-image {
  height: 240px;
  width: 370px;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: auto;
  position: relative;
}
.blog-date {
  position: absolute;
  height: 45px;
  width: 140px;
  background-color: #29d197;
  text-align: center;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  line-height: 26px;
  right: 10px;
  top: 180px;
}
.blog-content {
  text-align: justify;
  margin-top: 30px;
}
.blog-author {
  margin-top: 20px;
}
.blog-author-name {
  color: #38d49e;
  font-weight: bold;
}
.blog-href-icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url("./assests/icon/href-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 35px;
}
#btn-view-blog {
  background-color: #1a265c;
  width: 240px;
  height: 60px;
  border-radius: 30px;
  color: white;
  text-align: center;
  line-height: 57px;
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 74px;
  margin-bottom: 120px;
  border: none;
}
#statistical {
  height: 720px;
}
#statistical-description {
  height: 455px;
  position: relative;
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: space-around;
  margin-bottom: -25px;
}
#statistical-image {
  position: absolute;
  height: 918px;
  width: 100%;
  background-image: url("./assests/Layer\ 7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  z-index: -10;
}
#statistical-image-cover {
  position: absolute;
  width: 100%;
  height: 452px;
  background-color: #171d3b;
  opacity: 0.8;
  z-index: -9;
}
#statistical-description-left {
  color: white;
  width: 30%;
  text-align: justify;
}
#statistical-description-left h2 {
  font-size: 38px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}
#statistical-description-left > span {
  font-size: 15px;
  margin-top: 100px;
  margin-bottom: 50px;
}
#statistical-description-right {
  color: white;
  width: 30%;
  text-align: left;
  padding-top: 98px;
}
#statistical-description-right > p {
  margin-bottom: 30px;
}
.statistical-row {
  position: relative;
  padding-left: 20px;
}
.statistical-row::before {
  width: 15px;
  height: 10px;
  background-image: url("./assests/icon/arrow.png");
  content: " ";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 5px;
}
#statistical-data {
  display: flex;
  height: 270px;
  background-color: #29d197;
  color: white;
  justify-content: center;
}
.statistical-data-column {
  width: 200px;
  position: relative;
  padding-top: 95px;
  padding-left: 20px;
}
.statistical-data-column:not(:nth-child(1))::before {
  content: " ";
  height: 100px;
  width: 2px;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: -5px;
  top: 95px;
}
.statistical-data-column h3 {
  font-size: 50px;
}
.statistical-data-column p {
  margin-top: 8px;
}
#some-courses {
  display: flex;
  justify-content: space-between;
  width: 1127px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 125px;
}
.course {
  position: relative;
  height: 400px;
  width: 370px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 6%), 0 0px 1px 0 rgb(0 0 0 / 8%);
}
.course-image {
  height: 240px;
  width: 370px;
  /* background-image: url("./assests/Gettyassests-520.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.course-detail {
  position: absolute;
  height: 45px;
  width: 300px;
  background-color: white;
  text-align: center;
  border-radius: 50px;
  font-weight: bold;
  line-height: 50px;
  right: 35px;
  top: 215px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 6%), 0 0px 1px 0 rgb(0 0 0 / 8%);
}
.course-price span {
  color: #47d6a4;
  font-weight: bold;
}
.course-detail > *:not(:nth-child(1)) {
  position: relative;
}
.course-detail > *:not(:nth-child(1))::before {
  content: " ";
  height: 45px;
  width: 1px;
  background-color: #e3e3e3;
  display: inline-block;
  position: absolute;
  left: -45px;
  top: 0px;
}
.course-members-count {
  position: relative;
}
.course-members-count::before {
  width: 20px;
  height: 15px;
  background-image: url("./assests/icon/Forma\ 1.png");
  content: " ";
  display: inline-block;
  position: absolute;
  left: -28px;
  top: 2px;
}
.course-comments-count {
  position: relative;
}
.course-comments-count::before {
  width: 16px;
  height: 15px;
  background-image: url("./assests/icon/Forma\ 2.png");
  content: " ";
  display: inline-block;
  position: absolute;
  left: -28px;
  top: 2px;
}
.course-content {
  padding: 20px 55px;
}
.course-content h3 {
  font-size: 20px;
}
.course-rate {
  height: 10px;
  background-image: url("./assests/icon/rate.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
.course-redirect {
  background-image: url("./assests/icon/arrow-black.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 60px;
  bottom: -20px;
  background-color: white;
  box-shadow: 0 5px 40px 0 rgb(0 0 0 / 30%), 0 5px 10px 0 rgb(0 0 0 / 8%);
}
#footer {
  height: 625px;
}
/* #statistical {
    height: 720px;
  } */
#footer-description {
  height: 455px;
  position: relative;
  /* flex-wrap: nowrap; */
  justify-content: space-around;
  margin-bottom: -25px;
}
#footer-image {
  position: absolute;
  height: 918px;
  width: 1717px;
  background-image: url("./assests/light-bulb-idea.png");
  background-repeat: no-repeat;
  background-position: center -190px;
  background-size: auto;
  z-index: -10;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#footer-image-cover {
  position: absolute;
  width: 100%;
  height: 452px;
  background-color: #07080f;
  opacity: 0.6;
  z-index: -9;
}
#footer-description-detail {
  width: 1172px;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  color: white;
}
#footer-description-detail > * {
  width: 310px;
  padding-top: 100px;
}
#footer-description-detail h3 {
  color: #29d197;
  font-size: 25px;
  margin-bottom: 30px;
}
#list-contact {
  display: flex;
  margin-top: 30px;
}
.social-contact {
  width: 42px;
  height: 42px;
  border-radius: 25px;
  background-color: #16232a;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 10px;
  text-indent: 45px;
  display: inline-block;
}
#facebook {
  background-image: url("./assests/icon/facebook.png");
}
#twitter {
  background-image: url("./assests/icon/twitter.png");
}
#google {
  background-color: #29d197 !important;
  background-image: url("./assests/icon/google.png");
}
#vivu {
  background-image: url("./assests/icon/vivu.png");
}
#footer-input-mail-container {
  position: relative;
}

#footer-input-mail-container::before {
  width: 15px;
  height: 10px;
  background-image: url("./assests/icon/arrow.png");
  content: " ";
  display: inline-block;
  position: absolute;
  left: 245px;
  top: 57px;
  z-index: 100;
}
#footer-input-mail {
  margin-top: 40px;
  border-radius: 60px;
  background-color: #0a1d2b;
  border: 1px solid white;
  color: white;
  padding-left: 30px;
  height: 45px;
  width: 280px;
}
#open-mail {
  background-image: url("./assests/icon/mail\ open.png");
}
#telephone {
  background-image: url("./assests/icon/telephone.png");
}
#position {
  background-image: url("./assests/icon/position.png");
}
.footer-get-touch-description {
  /* display: inline-block; */
  width: 250px;
  height: 42px;
  margin-top: -40px;
  margin-left: 55px;
}

#footer-foot {
  background-color: #1a265c;
  height: 155px;
  position: relative;
}
#footer-list-image {
  position: absolute;
  display: flex;
  width: 780px;
  justify-content: space-around;
  top: -62px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.footer-image {
  width: 120px;
  height: 120px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: auto;
}
#footer-image-1 {
  background-image: url("./assests/footer-image-1.png");
  background-position: -121px -16px;
}
#footer-image-2 {
  background-image: url("./assests/footer-image-2.png");
  background-position: -18px -9px;
}
#footer-image-3 {
  background-image: url("./assests/footer-image-3.png");
  background-position: -69px -2px;
}
#footer-image-4 {
  background-image: url("./assests/footer-image-4.png");
  background-position: -16px -16px;
}
#footer-image-5 {
  background-image: url("./assests/footer-image-5.png");
  background-position: -49px -3px;
}
#footer-image-6 {
  background-image: url("./assests/footer-image-6.png");
  background-position: -37px -3px;
}
#copyright {
  position: absolute;
  bottom: 30px;
  color: white;
  font-size: 25px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#copyright span {
  color: #29d197;
}
@media screen and (max-width: 1240px) {
  .header-menu-list-content {
    display: none;
  }
  .header-menu-content label {
    display: block;
  }
  .header-menu-content input[type="checkbox"]:checked + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: -80px;
  }
  .header-menu-list-content li {
    display: block;
    height: 40px;
    width: 100px;
    font-size: 10px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid white;
    padding: 0px;
  }
  .header-content {
    display: flex;
  }
  .header-content-text {
    padding: 0px;
    width: 50%;
  }
  .header-content-text {
    padding: 0px;
    padding-left: 100px;
  }
  .header-content-text p {
    font-size: 30px;
    text-align: left;
  }
  .btn-header-content {
    padding: 0px;
    width: 50%;
  }
  .btn-header-content button {
    display: block;
    margin: 10px auto;
  }
  .content-forum-container {
    padding: 0 20px;
  }
  .content-forum-left {
    transform: translateY(-80%);
  }
  .content-forum-left-sub {
    font-size: 20px;
  }
  .content-forum-left-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1120px) {
  #casses {
    height: 1160px;
  }
  #casses-head {
    display: block;
  }
  #casses-head > div {
    margin: 0 auto;
  }
  #casses-footer {
    left: 45%;
  }
  #subscribe {
    text-align: center;
  }
  #subscribe-icon {
    position: absolute;
    left: 110px;
    width: 85px;
    height: 85px;
  }
  #subscribe-description h3 {
    font-size: 20px;
  }
  #testimonials {
    padding-left: 0px;
  }
  #testimonials-image {
    left: -170px;
  }
  #testimonials-content {
    text-align: center;
    padding-right: 0px;
  }
  #testimonials-content h3 {
    font-size: 20px;
  }
  #statistical-description-left {
    width: 49%;
  }
  #statistical-description-right {
    width: 40%;
  }
  #copyright {
    text-align: center;
    font-size: 15px;
  }
}
@media screen and (max-width: 860px) {
  .content-studies {
    height: 1220px;
  }
  .content-studies-list {
    display: block;
  }
  .content-forum-container {
    display: block;
  }
  .content-forum-left {
    text-align: center;
    transform: translateY(15%);
    margin-bottom: 50px;
  }
  .content-forum-left p {
    font-size: 20px;
  }
  .content-forum-right {
    margin: 0 auto;
  }
  .content-courses-menu {
    display: block;
  }
  .content-courses-menu-list li {
    display: inline-block;
    margin-bottom: 10px;
  }
  .content-courses-list {
    display: block;
  }
  .courses-item {
    max-width: 700px;
  }
  .content-courses-column {
    margin-left: 0px;
  }
  .content-courses-top,
  .content-courses-bottom {
    width: 700px;
  }
  .content-courses-top > .courses-item-header,
  .content-courses-bottom > .courses-item-header {
    width: 700px;
  }
  .courses-item-envaluate {
    margin-left: 193px;
  }
  .courses-item-container {
    text-align: center;
    margin-left: 0px;
  }
  #subscribe-icon {
    left: 30px;
  }
  #some-blog {
    display: block;
    width: 100%;
  }
  .blog {
    margin: 50px auto;
    width: 70%;
  }
  .blog-image {
    margin: 0 auto;
  }
  .blog-content {
    text-align: center;
  }
  #some-courses {
    display: block;
    width: 100%;
  }
  .course {
    margin: 50px auto;
    width: 80%;
  }
  .course-image {
    margin: 0 auto;
    position: relative;
  }
  .course-content {
    margin-top: 50px;
    text-align: center;
  }
  .course-rate {
    background-position: center;
  }
}
@media screen and (max-width: 700px) {
  .header {
    background-size: cover;
    background-position: -400px -4px;
  }
  .header-top {
    display: block;
  }
  .header-top-left-list li {
    display: block;
  }
  .header-content {
    display: block;
    margin-top: 40px;
  }
  .header-content-text {
    padding-left: 0px;
    width: 100%;
    margin-bottom: 50px;
  }
  .header-content-text p {
    text-align: center;
  }
  .btn-header-content {
    width: 100%;
    margin-top: 50px;
  }
  .btn-full,
  .btn-line {
    height: 62px;
    width: 160px;
    font-size: 12px;
  }
  .btn-header-menu-login {
    height: 48px;
    width: 90px;
    font-size: 9px;
  }
  .content-activities {
    transform: translateY(0px);
  }
  .content-activities-list-item > span {
    font-size: 10px;
  }
  .content-studies-item-text span:nth-child(1) {
    font-size: 17px;
  }
  .content-studies-item-text span:nth-child(2) {
    font-size: 10px;
  }
  .content-forum {
    margin-top: 30px;
    background-size: auto;
  }
  .content-forum-container {
    padding: 0px;
  }
  .content-forum-right-form {
    margin: 0 auto;
    width: 454px;
  }
  .content-courses-header {
    margin-top: 30px;
  }
  .content-courses-header-title {
    font-size: 30px;
  }
  .content-courses-header-sub {
    font-size: 15px;
  }
  .content-courses-list {
    width: 100%;
  }
  .content-courses-column {
    width: 100%;
  }
  .content-courses-top,
  .content-courses-bottom {
    height: 529px;
    width: 370px;
    margin: 20px auto;
  }
  .content-courses-top > .courses-item-header,
  .content-courses-bottom > .courses-item-header {
    height: 270px;
    width: 370px;
  }
  .courses-item-envaluate {
    margin-left: 25px;
  }
  .courses-item-header img {
    height: 100%;
    width: 100%;
  }
  .courses-item-detail button {
    transform: translateY(44px);
  }
  .courses-item-detail button:hover {
    transform: translateY(40px);
  }
  #casses-footer {
    width: 100%;
  }
  #casses-footer-cover {
    width: 100%;
    height: 264px;
    /* left: 0px; */
    top: 142px;
    left: 55%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #casses-footer-icon,
  #casses-footer-content {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 20px;
  }
  #subscribe-description,
  #testimonials-content {
    width: 50%;
    margin: 0 auto;
  }
  #testimonials-image {
    left: -55px;
  }
  #statistical-description {
    display: block;
  }
  #statistical-description-left {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
  #statistical-description-left h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
  }
  #statistical-description-left span {
    font-size: 15px;
  }
  #statistical-description-right {
    width: 100%;
    margin-top: 70px;
    padding-top: 0px;
    padding-left: 19%;
  }
  #statistical-description-right > p {
    margin-bottom: 10px;
  }
  #statistical-description-right span {
    font-size: 15px;
  }
  .statistical-data-column h3 {
    font-size: 30px;
  }
  .statistical-data-column p {
    font-size: 10px;
  }
  #footer-image {
    width: 100%;
    height: 1569px;
    background-position: -10px -288px;
    background-size: cover;
  }
  #footer-image-cover {
    height: 100%;
  }
  #footer-description-detail {
    display: block;
    width: 100%;
  }
  #footer-description {
    height: 1070px;
  }
  #footer-infomation,
  #footer-subscribe,
  #footer-get-touch {
    text-align: center;
    margin: 0 auto;
    position: relative;
    height: 376px;
    padding-top: 0px;
  }
  /* .social-contact {
    position: absolute;
  } */
  .footer-get-touch-description {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
  }
  .social-contact {
    display: block;
    position: absolute;
  }
  #footer-list-image {
    top: -40px;
    width: 100%;
  }
  .footer-image {
    width: 70px;
    height: 70px;
  }
  #copyright {
    width: 100%;
  }
}
